@import "~normalize.css";
@import "main_font.css";

.container {
  border: solid;
  padding: 30px;
  margin: 30px;
}

h1 {
  color: blueviolet;
  font-family: "Inco", sans-serif;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url("../assets/hourse.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
